<div class="col-6 mx-auto">
    <h1 class="text-center m-4">Sign up</h1>
    <%= render 'form' %>
</div>

<%# 別にrenderのところに_form.html.erbの内容を書いても良い。でも、見にくいのでusersのフォルダー内でパーシャルをつけて
別フォルダ(ex _form.html.erb)に分けたほうがわかりやすいからそうしている。application.html.erbの中の_headerと_footerも同じ。 %>